*{font-family: 'Calibri', sans-serif;
color: rgb(236, 237, 96);
letter-spacing: 1px;
}

header{
   padding-top: 20px;
   padding-bottom: 30px;
}

body{
   background-image: url(Imagens/envelope-colorido.jpg);
   background-color: rgb(0, 146, 219);
    width: auto;
  height: 100%;
  background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
}

input, textarea{
   color: darkslategray;
   font-size: 18px;
}

.hide{
    display:none;
 }
 .show{
    display:block;
 }

 .display{
   position: relative;
   float: left;
   background-color: rgb(1, 112, 153, 0.6);
   border: 200px;
   padding: 20px;
   width: 40%;
   height: 300px;
   text-align: center;
   margin-left: 60px;
   font-size: 20px;
   font-weight: bold;
 }

 .button {
   font-size: 18px;
   background: rgb(134, 6, 99);
   padding: 10px;
   font-weight: bold;
   border: none;
   text-align: center;
   margin-bottom: 18px;
   width: 28%;
 }

 
 
#pagina-inicial {
   background-color: rgb(1, 112, 153, 0.6);
   padding: 10px 20px;
   width: 50%;
   height: 60%;
   margin: auto;
   font-size: 20px;
    }

 #inicio {
   font-size: 90%;
   text-decoration: underline;
   background: none;
   padding: 8px;
   font-weight: bold;
   border: none;
   text-align: center;
 }


