*{font-family: 'Courier New', Courier, monospace, serif;
color: rgb(236, 237, 96);
font-weight: bold;
letter-spacing: 1px;
}

.hide{
    display:none;
 }
 .show{
    display:block;
 }

 header{
   text-align: center;
   margin: auto;
   margin-top: 150px;
   padding: 1px 20px;
   background-color: rgb(1, 112, 153, 0.6);
   width: 40%;
   }

body{
   background-image: url(Imagens/envelope-colorido.jpg);
   background-color: rgb(0, 146, 219);
   height: 350px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
}

div {
   background-color: rgb(1, 112, 153, 0.6);
   padding: 10px 20px;
   width: 40%;
  height: 60%;
  margin: auto;
}

input{
   color: darkslategray;
}

button {
  font-size: 90%;
   background: rgb(134, 6, 99);
   padding: 8px;
   font-weight: bold;
   border: none;
   text-align: center;
 }